*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 32px;
  color: #9F9FA9;
  background: #0D0E10;
}

.subTitle {
  font-family: 'Shadows Into Light', cursive;
  color: #FF6800;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1.big {
  font-style: normal;
  font-weight: 600;
  font-size: 132px;
  line-height: 134px;
  letter-spacing: -1.3px;
  color: #FFFFFF;
}

h1 {
  font-size: 7.2rem;
  font-weight: 600;
  line-height: 84px;
  letter-spacing: -0.5px;
}

h2 {
  font-size: 5.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: -0.4px;
}

h3 {
  font-size: 4.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.1px;
}

h4 {
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -0.15px;
}

h5 {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

h6 {
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.p__relative {
  position: relative;
}

.d__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d__block {
  display: block;
}

.d__iblock {
  display: inline-block;
}

.d__grid {
  display: -ms-grid;
  display: grid;
}

.jc__center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jc__between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ai__center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.t__center {
  text-align: center;
}

.t__left {
  text-align: left;
}

.t__right {
  text-align: right;
}

.btn__primary {
  display: inline-block;
  padding: 2.2rem 6rem;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  border-radius: 10rem;
  background: #fff;
  color: #111029;
}

.btn__primary img {
  vertical-align: middle;
  margin-left: 1.5rem;
}

.header {
  padding-top: 5rem;
  padding-bottom: 22.7rem;
  background-image: url("../img/headerbg.png");
  background-size: cover;
  background-position: center;
}

.header__container {
  padding: 0 7rem;
}

.header__mailLink a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
}

.header__mailLink span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 6.5rem;
  height: 6.5rem;
  margin-right: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #fff;
  border-radius: 100%;
}

.header__nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__nav ul li {
  margin-left: 7rem;
}

.header__nav ul li a {
  text-decoration: none;
  color: #9F9FA9;
  font-size: 1.6rem;
  -webkit-transition: .2s;
  transition: .2s;
}

.header__nav ul li a.hm__button {
  display: inline-block;
  position: relative;
  width: 3.2rem;
  vertical-align: middle;
  height: 1rem;
}

.header__nav ul li a.hm__button:before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: .2rem;
  background: #fff;
}

.header__nav ul li a.hm__button:after {
  position: absolute;
  content: '';
  left: 0;
  top: .8rem;
  width: 100%;
  height: .2rem;
  background: #fff;
}

.header__nav ul li a:hover {
  color: #fff;
}

.header__nav ul li:last-child {
  margin-left: 5rem;
}

.header__heroBanner {
  max-width: 85rem;
  width: 100%;
  margin: 0 auto;
  margin-top: 2.2rem;
}

.header__heroBannerIntro {
  margin-top: 3.5rem;
  margin-bottom: 4rem;
}

.header__heroBannerIntro span {
  font-size: 4rem;
}

.header__heroBannerTitle {
  margin-bottom: 4rem;
}

.header__heroBannerTitle h1 {
  position: relative;
  color: #fff;
}

.header__heroBannerTitle h1 span.sp__line {
  position: absolute;
  display: inline-block;
  top: 3rem;
  z-index: 1;
}

.header__heroBannerTitle h1 span.titleText {
  position: relative;
  z-index: 11;
}

.header__heroBannerText {
  margin-bottom: 4rem;
}

.header__heroBannerText p {
  font-size: 1.8rem;
  font-weight: 400;
  color: #DBDEE1;
  max-width: 675px;
  width: 100%;
  margin: 0 auto;
}

.services {
  margin-top: 9.5rem;
  margin-bottom: 14.2rem;
}

.services__heading {
  max-width: 87rem;
  width: 100%;
  padding-bottom: 7.2rem;
  margin-bottom: 7.2rem;
  border-bottom: 1px solid rgba(236, 236, 236, 0.2);
}

.services__heading span {
  font-size: 3rem;
}

.services__heading h3 {
  margin-top: 2.2rem;
  color: #D8D8D8;
}

.services__bigMoto {
  position: relative;
  max-width: 82rem;
  margin-bottom: 7.2rem;
}

.services__bigMoto h1 {
  position: relative;
}

.services__bigMoto h1 span.sp__line {
  position: absolute;
  display: inline-block;
  right: 10px;
  top: 2.6rem;
  z-index: 1;
}

.services__bigMoto h1 span.bigText {
  position: relative;
  z-index: 11;
}

.services__whiteCube {
  position: absolute;
  right: -24rem;
  top: 19rem;
}

.services__blurCube {
  position: absolute;
  right: -26rem;
  top: -8rem;
}

.services__btn {
  margin-bottom: 13.6rem;
}

.services__btn .btn__primary {
  padding: 2.8rem 6.2rem;
}

.services__cards {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.services__singleCard {
  padding: 6.4rem 4.2rem;
  border-radius: 4rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.services__singleCard .singleCard__icon {
  position: relative;
  width: 24rem;
  height: 24rem;
  margin: 0 auto;
  margin-bottom: 6.5rem;
  border-radius: 100%;
}

.services__singleCard .singleCard__icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.services__singleCard .singleCard__title {
  margin-bottom: 2.4rem;
}

.services__singleCard .singleCard__title h5 {
  color: #ECECEC;
}

.services__singleCard .singleCard__text p {
  max-width: 26rem;
  width: 100%;
  margin: 0 auto;
}

.services__singleCard:nth-child(1) .singleCard__icon {
  background-color: #FFD301;
}

.services__singleCard:nth-child(1) .singleCard__icon img {
  position: absolute;
  top: inherit;
  left: inherit;
  -webkit-transform: translate(0);
          transform: translate(0);
  bottom: 4.7rem;
  right: -2.2rem;
}

.services__singleCard:nth-child(2) .singleCard__icon {
  background-color: #4C40F7;
}

.services__singleCard:nth-child(3) .singleCard__icon {
  background-color: #FFBDBD;
}

.services__singleCard:nth-child(3) .singleCard__icon img {
  top: 2.2rem;
  left: 2.7rem;
  -webkit-transform: translate(0);
          transform: translate(0);
}

.services__singleCard:hover {
  background: #1F1F1F;
}

.resume {
  margin-bottom: 16rem;
}

.resume__bubble {
  position: absolute;
  top: -4.8rem;
  right: 0;
}

.resume__title {
  margin-bottom: 5.2rem;
}

.resume__title h2 {
  position: relative;
  color: #fff;
}

.resume__title h2 span.sp__line {
  position: absolute;
  display: inline-block;
  bottom: -2.2rem;
  z-index: 1;
}

.resume__title h2 span.titleText {
  position: relative;
  z-index: 11;
}

.resume .resume__workExperience, .resume .resume__education {
  width: 50%;
}

.resume .resume__workExperience .signle__workExperience, .resume .resume__workExperience .single__education, .resume .resume__education .signle__workExperience, .resume .resume__education .single__education {
  margin-bottom: 4rem;
}

.resume .resume__workExperience .signle__workExperience:last-child, .resume .resume__workExperience .single__education:last-child, .resume .resume__education .signle__workExperience:last-child, .resume .resume__education .single__education:last-child {
  margin-bottom: 0;
}

.resume .resume__workExperience h4, .resume .resume__education h4 {
  color: #fff;
  margin-bottom: 4rem;
}

.resume .resume__workExperience .position, .resume .resume__education .position {
  margin-top: .6rem;
  margin-bottom: .6rem;
}

.resume .resume__workExperience .position h6, .resume .resume__education .position h6 {
  color: #fff;
}

.resume .resume__workExperience .intitution__name, .resume .resume__education .intitution__name {
  margin-bottom: 2rem;
}

.resume .resume__workExperience .intitution__name h5, .resume .resume__education .intitution__name h5 {
  color: #fff;
}

.resume .resume__workExperience .degree, .resume .resume__education .degree {
  margin-bottom: .4rem;
}

.resume .resume__workExperience .duration p, .resume .resume__education .duration p {
  font-size: 1.6rem;
}

.projects {
  padding: 18rem 0;
  background: #414141;
}

.projects__whiteCube {
  position: absolute;
  right: -29rem;
  top: -5rem;
}

.projects__heading {
  position: relative;
  max-width: 68rem;
}

.projects__heading .subTitle {
  display: inline-block;
  font-size: 3rem;
  margin-bottom: 3rem;
}

.projects__heading h1 {
  color: #fff;
  margin-bottom: 8rem;
}

.projects__sideBubble {
  position: absolute;
  left: -18rem;
}

.projects__showcase {
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  grid-row-gap: 3rem;
  grid-column-gap: 3rem;
  z-index: 11;
}

.projects__singleProject {
  border-radius: 2.4rem;
  overflow: hidden;
}

.projects__singleProject .singleProject__info {
  padding: 4.2rem;
  margin-top: -1rem;
  padding-bottom: 7.5rem;
  background: #0D0E10;
}

.projects__singleProject .singleProject__info h4 {
  color: #fff;
  margin-bottom: .8rem;
}
/*# sourceMappingURL=style.css.map */